<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-ANON</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="container">
        <h1>D-Anon</h1>

        <div id="message"></div>

        <table>
            <thead>
                <tr>
                    <th>Fingerprint</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <!-- Seção ThumbmarkJS -->
            <tbody id="thumbmarkData" class="section">
                <tr class="section-title">
                    <td>THUMBMARKJS FINGERPRINT</td>
                    <td><span class="toggle-icon">+</span></td>
                </tr>
                <!-- Linhas de conteúdo serão inseridas aqui -->
            </tbody>

            <!-- Seção Navegador e Sistema -->
            <tbody id="systemData" class="section">
                <tr class="section-title">
                    <td>NAVEGADOR E SISTEMA</td>
                    <td><span class="toggle-icon">+</span></td>
                </tr>
                <!-- Conteúdo será inserido aqui -->
            </tbody>

            <tbody id="tcpData" class="section">
                <tr class="section-title">
                    <td>TCP FINGERPRINTS</td>
                    <td><span class="toggle-icon">+</span></td>
                </tr>
            </tbody>

            <tbody id="clientData" class="section">
                <tr class="section-title">
                    <td>CLIENTJS FINGERPRINTS</td>
                    <td><span class="toggle-icon">+</span></td>
                </tr>
            </tbody>
            
            <tbody id="additionalData" class="section">
                <tr class="section-title">
                    <td>FINGERPRINTS ADICIONAIS</td>
                    <td><span class="toggle-icon">+</span></td>
                </tr>
            </tbody>
                
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/clientjs@0.1.11/dist/client.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@thumbmarkjs/thumbmarkjs/dist/thumbmark.umd.js"></script>
    <script type="module" src="/js/mainFingerprint.js"></script>
</body>
</html>

